<!-- 标签云 -->
            <div id='tag_cloud' class="tags"  id='sidebar'>
                {% for tag in site.tags %}
                <a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[0].size }}">{{ tag[0] }}</a> {% endfor %}
            </div>
            

                <!-- Friends Blog -->
                {% if site.friends %}
                <hr>
                <h5>FRIENDS</h5>
                <ul class="list-inline">
                    {% for friend in site.friends %}
                        <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}